#notificationIcon{
	height: 50px;
	width: 50px;
	position: relative;
	float: right;
	margin-left: 100px;
	background-color:white;
}
.container{
padding-left: 100px;
padding-right: 100px;
}
p.speech
{
	clear: both;
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 2px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.notificationcontainer{
	position: relative;
	float: right;
	margin-left: 100px;
}

#notificationlist{
background-color: rgba(12,12,12,0.5);
height: 100px;
width: 100%;
display:none;
color: white;
}
.tooltip{
            display: inline;
            position: relative;
        }
        
.tooltip:hover:after{
            background: #333;
            background: rgba(080,080,080,.8);
            border-radius: 5px;
            bottom: 26px;
            color: #fff;
            content: attr(title);
            left: 20%;
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 220px;
        }
        
.tooltip:hover:before{
            border: solid;
            border-color: #333 transparent;
            border-width: 6px 6px 0 6px;
            bottom: 20px;
            content: "";
            left: 50%;
            position: absolute;
            